!!!
%html
  %head
    %title Deployer

  = stylesheet_link_tag "application", media: "all"
  = javascript_include_tag "application"
  = csrf_meta_tags

  %body
    .container
      .navbar
        .navbar-inner
          = link_to("Deployer", root_path, class: "brand")
          %ul.nav
            %li[menu_item(:projects)]
              = link_to("Projects", projects_path)
            %li[menu_item(:new_project)]
              = link_to("Add project", new_project_path)


    .container
      - if flash[:notice]
        %p.alert.alert-success= flash[:notice]
      = yield
